body {
    background-color: rgb(227, 233, 233);
    margin: 1%;
}

/* Weather Dashboard Banner text sizing*/
.h1 {
    font-size: 60px;
}
/*Container for City & Weather Data */
.container {
    max-width: 1300px;
}

h2, h3, h4 {
    padding-top: 10px;
    font-weight: 500;
}


.button {
    width: 100%;
    margin: 5px;
}

.cardContainer {
    border-radius: 25px;
}